@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Gothic+Coding&family=Patrick+Hand+SC&display=swap');
.tour-container{
    width: 100vw;
    padding-top: 10vh;
    padding-bottom: 5vh;
    display: flex;
}
.left-navbar{
    flex: 1;
    background-color: #fff;
    position: fixed;
    width: 10vw;
    height: 90vh;
    border-right: 1px solid rgb(215, 215, 215);
}

.right-page{
    flex: 9;
    padding-top: 4vh;
    padding-left: 12vw;
    width: 90vw;
}

.product-body{
    width: 86vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    padding-bottom: 1vh;
}
.product-item img {
    width: 20vw;
    height: 20vw;
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 20px #ffffff;
    border-radius: 5px;
}
.filter-separation{
    margin-top: 20px;
    border-bottom: 1px solid rgb(169, 169, 169);
}
.product-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 88vw;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #969696;
}

.place-desc{
    width: 40vw;
}

.place-name{
    font-size: 50px;
    font-weight: 700;
    color: rgb(19, 139, 107);
    font-family: "Kanit", sans-serif;
}
.placeloc{
    color:#3b0084
}
.place-tag-line{
    font-weight: 700;
    color: rgb(0, 77, 244);
    font-family: "Patrick Hand SC", cursive;
    /*font-family: "Nanum Gothic Coding", monospace;*/

}

.place-history{
    width: 40vw;
}

.place-det{
    border-left: 3px solid #d5d5d5;
    width: 20vw;
    height: 45vh;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.place-det h4{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: #00b318;
}

.place-det img{
    all: unset;
    display: block;
    width: 25px;
    height: 25px;
    padding-bottom: 7px;
    padding-right: 7px;
}
.time-zone{
    display: flex;
    align-items: center;
}
.product-view{
    all: unset;
    cursor: pointer;
    width: 120px;
    height: 40px;
    background-color: rgb(255, 252, 59);
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 0px 0px 8px 2px rgb(155, 178, 11);
    font-weight: 700;
    color: rgb(67, 67, 67);
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-view:hover{
    all:unset;
    cursor: pointer;
    width: 120px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:1s;
    background-color: rgb(81, 212, 0);
    box-shadow: inset 0px 0px 8px 2px rgb(117, 117, 117);
    color: rgb(255, 255, 255);
}











.l-n-c{
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
}
.apply-filters button{
    all:unset;
    background-color: rgb(62, 139, 255);
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 0px 5px #3a3a3a;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
}

.apply-filters button:hover{
    background-color: rgb(29, 246, 0);
    transition: 0.5s;
}
.apply-filters button:active{
    background-color: rgb(29, 246, 0);
    transition: 0.5s;
}

.apply-filters h6{
    color: #5d5d5d;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 30px;
}

.apply-filters{
    display: flex;
    justify-content: space-between;
}

.filter-seperation{
    padding-top: 10px;
    border-bottom: 1px solid #ababab;
}





fieldset{
    margin-left: 20px;
}




#points{
    border: 1px solid #000;
    width: 95%;
    height: 3px;    
}


.color-1{
    background-color:#ffe9f8;
}
.color-2{
    background-color: #fff1e1;
}
.color-3{
    background-color: #edfce6;
}
.color-4{
    background-color: rgb(255, 237, 237);
}
.color-5{
    background-color: #e1faff;
}
.color-6{
    background-color: #f1ddff;
}










